
/* barre de recherche */

.search-container {
    max-width: 600px; 
    margin: auto;
}

.search-container .form-control {
    border: 2px solid #ffc107; 
}

.search-container .btn-warning {
    color: #fff; 
    background-color: #ffc107; 
    border-color: #ffc107; 
}

.search-container .btn-warning:hover {
    color: #212529; 
    background-color: #e0a800; 
    border-color: #daa520; 
}

/* Badge pour le genre */
.genre-badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: #f0f0f0; /* Choisir la couleur de fond */
    color: #333; /* Choisir la couleur du texte */
    margin-right: .5em;
}